[Desktop Entry]
Name=ROX-MIME-Editor
Comment=Graphical editor for MIME types
Comment[pl]=Graficzny edytor typów MIME
Exec=/usr/lib/ROX-apps/MIME-Editor/AppRun
Icon=rox-MIME-Editor.png
Terminal=false
Type=Application
Categories=Utility;
Encoding=UTF-8
# vi: encoding=utf-8